{% extends 'base.html' %}


{% load static %}


{% block content %}
<script type="text/javascript" src={% static "image_transform.js" %}></script>


<style>
    img{
        max-height: 100vh;
    }
</style>




<div class="row" id="vertical-image-container">
<div class="col">
    <img src={{rotated_image.file.url}} class="img-fluid" alt="Sent image" id="vertical-image">
</div>
</div>

<div class="row" id="horizontal-image-container">
<div class="col">
    <img src={{image.file.url}} class="img-fluid" alt="Sent image" id="horizontal-image">
</div>
</div>


<div class="row">
<div class="col">
    <form id="transform_form" method="POST" action={% url "preview" %}>
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-primary" type="submit">
    </form>
</div>
</div>

{% endblock content %}